{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Bank app" />
	<meta name="keywords" content="bank, money, transaction, payment, loan" />
	<script src="https://kit.fontawesome.com/b08a3acf90.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />

	<title>Bank</title>
	</head>

	<body>
	{% if request.user.is_authenticated %}
	<header>
		<h1>Bank app</h1>
		<section>
			<div>
				<h2>Welcome, {{ request.user.username }}!</h2>
				<p>Logged in as: {{ usertype }}</p>
			</div>
			<div>
                <a href="{% url 'bank_app:index' %}" class="home_btn"><i class="fa-solid fa-house"></i></a>
                <a href="{% url 'login_app:logout' %}" class="border_btn" id="logout">Logout</a>
            </div>
		</section>
	</header>

		<main class="main">
			<section id="movements_section">
                <h3>Detail view for credit card: {{ card.cardNumber }}</h3>
                <table>
					<tr>
						<th></th>
						<th>Date</th>
						<th>Amount</th>
						<th>Description</th>
					</tr>
                   {% for cm in card_movements %}
				   		<tr>
                            <th>{{ forloop.counter }}</th>
                            <th>{{ cm.timestamp }}</th>
                            {% if cm.value > 0 %}
                                <th class="green_text">+{{ cm.value }}</th>
							{% elif cm.value == 0 %}
								<th>{{ cm.value }}</th>
                            {% else %}
								<th class="red_text">{{ cm.value }}</th>
                            {% endif %}
                            <th>{{ cm.description }}</th>
						</tr>
                    {% endfor %}
                    
				</table>
            </section>
		</main>

	{% endif %}
	<script src="{% static 'script/script.js' %}"></script>

	</body>
</html>
