{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Bank app" />
	<meta name="keywords" content="bank, money, transaction, payment, loan" />
	<script src="https://kit.fontawesome.com/b08a3acf90.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />

	<title>Bank</title>
	</head>
	
	<body>
	{% if request.user.is_authenticated %}
	<header>
		<h1>Bank app</h1>
		<section>
			<div>
				<h2>Welcome, {{ request.user.username }}!</h2>
				<p>Logged in as: {{ usertype }}</p>
			</div>
			<div>
                <a href="{% url 'bank_app:index' %}" class="home_btn home_btn_selected"><i class="fa-solid fa-house"></i></a>
                <a href="{% url 'login_app:logout' %}" class="border_btn" id="logout">Logout</a>
            </div>
		</section>
	</header>

		{% if usertype == "BANKER" %}
		<main class="main">
			<section id="create_cust">
				<h3>Create customer</h3>
				<form method="post">
					{% csrf_token %}
					<div class="form_item_wrapper">
						<label>User Name</label>
						<input type="text" name="name" placeholder="Type new user name" required />
					</div>
					<div class="form_item_wrapper">
						<label>Password</label>
						<input type="password" name="password" placeholder="Type new password for the user" required />
					</div>
					<div class="form_item_wrapper">
						<label>Phone</label>
						<input type="text" name="phone" pattern="[0-9]{8}" placeholder="User's phone (8 digits)" required />
					</div>
					<button formaction="{% url 'bank_app:create_customer' %}" class="btn">Create customer</button>
				</form>
			</section>

			<section id="cust_list">
				<h3>Customer list</h3>
				<p>Number of customers: {{ customer_count }}</p>

				<table>
					<tr>
						<th></th>
						<th>User Name</th>
						<th>Phone</th>
						<th>Ranking</th>
						<th></th>
					</tr>
				{% for c in customers %}
				<tr {% if forloop.counter|divisibleby:2 %}
                        class="white_bg"
                    {% endif %}	>	
						<form method="post">
							{% csrf_token %}
								<input type="hidden" name="pk" value="{{ c.pk }}" />
								<td>{{ forloop.counter }}</td>
								<td>{{ c.user.username }}</td>
								<td>{{ c.phone }}</td>
								<td>
									<select name="ranking">
										{% for r in rankings %}
											{% if r.rType == c.ranking.rType %}											
												<option value="{{ r.pk }}" selected>{{ r.rType }}</option>
											{% else %}
											<option value="{{ r.pk }}">{{ r.rType }}</option>
											{% endif %}
										{% endfor %}
									</select>
									<button formaction="{% url 'bank_app:update_ranking' %}" class="simple_btn">Update</button>
								</td>
								<td><button formaction="{% url 'bank_app:accounts' %}" class="btn">Manage accounts</button></td>
								<td>
									<button formaction="{% url 'bank_app:del_customer' %}" class="icon_btn del_btn">
										<i class="fa-solid fa-trash"></i>
									</button>
								</td>
						</form>
					</tr>
				{% endfor %}
				</table>
			</section>
		</main>
		{% else %}

		<main class="main">
			<section id="transfer_section">
				<h3>Transfer between accounts</h3>
				<form method="post">
					{% csrf_token %}

					<div class="form_item_wrapper">
						<label>From account</label>
						<select name="from_account">
							<option disabled selected value> -- select an option -- </option>
							{% for a in customer_accounts %}
								{% if a.isLoan == False %}									
									<option value="{{ a.pk }}">{{ a.accountNumber }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>

					<div class="form_item_wrapper">
						<label>To account</label>
						<input type="text" name="to_account" placeholder="Recipient's account number" />
					</div>
					<div class="form_item_wrapper">
						<label>Amount</label>
						<input type="number" name="amount" placeholder="Amount to transfer (DKK)" step=".01">
					</div>
					<div class="form_item_wrapper">
						<label>Description</label>
						<input type="text" name="description" placeholder="Text for transaction" />
					</div>
					<div id="automatic_payment_wrapper" class="form_item_wrapper">
						<label>Set as automatic payment</label>
						<input type="checkbox" id="aut_payment_check" name="payment_check" onclick="showAutomaticPayment()" />
					</div>
					<div id="automatic_payment_details">
						<div class="form_item_wrapper">
							<label>Repeat every</label>
							<input type="number" name="repeat_every" value="1" min="1" max="59" />
							<select name="repeat_time_unit">	
								<!-- <option disabled selected value> -- select an option -- </option>						 -->
								<option value="minute" selected>Minute</option>
								<option value="hour">Hour</option>
							</select>
						</div>
						<div class="form_item_wrapper">
							<label>How many times you wish to repeat the payment?</label>
							<input type="number" name="repeat_number" value="1" min="1" />
						</div>
					</div>
					<button formaction="{% url 'bank_app:set_transaction' %}" class="btn">Transfer Money</button>
				</form>
			</section>

			<section id="account_overview">
				<h3>{{ request.user.username }}'s accounts overview</h3>
				<table>
					<tr>
						<th></th>
						<th>Account Number</th>
						<th>Balance</th>
						<th>Loan</th>
					</tr>

					{% for a in customer_accounts %}
					<tr {% if forloop.counter|divisibleby:2 %}
                        class="white_bg"
                    {% endif %}	>	
					
						<form method="post">
							{% csrf_token %}
								<input type="hidden" name="pk" value="{{ a.pk }}" />
								<input type="hidden" name="pkcust" value="{{ c.pk }}" />
								<input type="hidden" name="to_account" value="{{ a.accountNumber }}" />
								<td>{{ forloop.counter }}</td>
								<td>{{ a.accountNumber }}</td>
								<td>
									{% for b in balances %}
										{% if b.0 == a.pk %}
											{{ b.1 }} DKK
										{% endif %}
									{% endfor %}
								</td>
								<td>
									{% if active_customer.ranking.loan == True %}
										{% if a.isLoan == False %}
											<input type="number" name="loan_amount" placeholder="Amount to loan" step=".01" />
											<button formaction="{% url 'bank_app:request_loan' %}" class="simple_btn">
												Request
											</button>
										{% else %}
											{% for l in loans %}
												{% if l.loanAccount == a.accountNumber %}
												<p>Loan status:
													{% if l.confirmed == 'true' %}
														{% for b in balances %}
															{% if b.0 == a.pk %}
																{% if b.1 == '0.00' %}
																	Completed
																{% else %}
																	Active
																{% endif %}
															{% endif %}
														{% endfor %}															
													{% elif l.confirmed == 'false' %}
														Declined
													{% else %}
														Pending
													{% endif %}
												</p>
												{% endif %}
											{% endfor %}
										{% endif %}
									{% else %}
										<p>Not available</p>
									{% endif %}
								</td>
								<td>
									<button formaction="{% url 'bank_app:show_movements' %}" class="btn">Show movements</button>
								</td>
						</form>
					</tr>
					{% endfor %}
				</table>
			</section>

			<section id="card_payments">

				<h3>Make card payment</h3>
				<form method="post">
					{% csrf_token %}

					<div class="form_item_wrapper">
						<label>From card</label>
						<select name="card_pk">
							<option disabled selected value> -- select an option -- </option>
							{% for c in cards %}									
								<option value="{{ c.pk }}">{{ c.cardNumber }}</option>
								<input type="hidden" name="balance" value="{{ c.initialBalance }}" />
								<input type="hidden" name="spent_amount" value="{{ c.spentAmount }}" />
							{% endfor %}
						</select>
					</div>

					<div class="form_item_wrapper">
						<label>To account</label>
						<select name="to_account">
							<option disabled selected value> -- select an option -- </option>
							{% for a in customer_accounts %}
								{% if a.isLoan == False %}									
									<option value="{{ a.pk }}">{{ a.accountNumber }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>

					<div class="form_item_wrapper">
						<input type="number" name="card_pay" placeholder="Amount to pay" step=".01"/>
					</div>

					<div class="form_item_wrapper">
						<input type="text" name="card_desc" placeholder="Text for payment" />
					</div>

					<button formaction="{% url 'bank_app:pay_card' %}" class="btn">Make card payment</button>
				</form>
			</section>

			<section id="cards_overview">
				<h3>{{ request.user.username }}'s credit cards overview</h3>
				<table>
					<tr>
						<th></th>
						<th>Account</th>
						<th>Card Number</th>
						<th>Initial balance</th>
						<th>Expiry Date</th>
						<th>Debt</th>
						<th>Repay</th>
					</tr>
	
					{% for c in cards %}
					<tr {% if forloop.counter|divisibleby:2 %}
							class="white_bg"
						{% endif %}	>
					
						<form method="post">
							{% csrf_token %}
								<input type="hidden" name="pk" value="{{ c.pk }}" />
								<input type="hidden" name="card_number" value="{{ c.cardNumber }}" />
								<input type="hidden" name="spent_amount" value="{{ c.spentAmount }}" />
								<input type="hidden" name="balance" value="{{ c.initialBalance }}" />
								<td>{{ forloop.counter }}</td>
								<td>{{ c.account }}</td>
								<td>{{ c.cardNumber }}</td>
								<td>{{ c.initialBalance }} DKK</td>
								<td>{{ c.expiryDate }}</td>
								<td>
									{% for b in card_repay_balances %}
										{% if b.0 == c.pk %}
											{{ b.1 }}
										{% endif %}
									{% endfor %}
								</td>
								<!-- <td>
									<div class="form_item_wrapper">
										<label>To account</label>
										<select name="to_account">
											<option disabled selected value> -- select an option -- </option>
											{% for a in customer_accounts %}									
												<option value="{{ a.pk }}">{{ a.accountNumber }}</option>
											{% endfor %}
										</select>
									</div>
									<div class="form_item_wrapper">
										<input type="number" name="card_pay" placeholder="Amount to pay" step=".01"/>
									</div>
									<div class="form_item_wrapper">
										<input type="text" name="card_desc" placeholder="Text for payment" />
									</div>
									<div class="form_item_wrapper">
										<button formaction="{% url 'bank_app:pay_card' %}" class="btn">
											Pay
										</button>
									</div>
								</td> -->
								{% if c.spentAmount != 0 %}
									<td>
										<div class="form_item_wrapper">
											<label>From account</label>
											<select name="from_account">
												<option disabled selected value> -- select an option -- </option>
												{% for a in customer_accounts %}
													{% if a.isLoan == False %}									
														<option value="{{ a.pk }}">{{ a.accountNumber }}</option>
													{% endif %}
												{% endfor %}
											</select>
										</div>
										<div class="form_item_wrapper">
											<input type="number" name="card_repay" placeholder="Amount to repay" step=".01"/>
										</div>
										<div class="form_item_wrapper">
											<button formaction="{% url 'bank_app:repay_card' %}" class="btn">
												Repay
											</button>
										</div>
									</td>
								{% endif %}
								<td>
									<button formaction="{% url 'bank_app:show_card_movements' %}" class="btn">Card movements</button>
								</td>
						</form>
					</tr>
					{% endfor %}
				</table>
			</section>
		</main>
		{% endif%}

	{% else %}

		<h2>Please log in</h2>

	{% endif %}

	<script src="{% static 'script/script.js' %}"></script>

	</body>
</html>
