{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Bank app" />
	<meta name="keywords" content="bank, money, transaction, payment, loan" />
	<script src="https://kit.fontawesome.com/b08a3acf90.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />

	<title>Bank</title>
	</head>
	
	<body>
	{% if request.user.is_authenticated %}
	<header>
		<h1>Bank app</h1>
		<section>
			<div>
				<h2>Welcome, {{ request.user.username }}!</h2>
				<p>Logged in as: {{ usertype }}</p>
			</div>
			<div>
                <a href="{% url 'bank_app:index' %}" class="home_btn home_btn_selected"><i class="fa-solid fa-house"></i></a>
                <a href="{% url 'login_app:logout' %}" class="border_btn" id="logout">Logout</a>
            </div>
		</section>
	</header>

		{% if usertype == "BANKER" %}
		<main class="main">
			<section id="create_cust">
				<h3>Create customer</h3>
				<form method="post">
					{% csrf_token %}
					<div class="form_item_wrapper">
						<label>User Name</label>
						<input type="text" name="name" placeholder="Type new user name" required />
					</div>
					<div class="form_item_wrapper">
						<label>Password</label>
						<input type="password" name="password" placeholder="Type new password for the user" required />
					</div>
					<div class="form_item_wrapper">
						<label>Phone</label>
						<input type="text" name="phone" pattern="[0-9]{8}" placeholder="User's phone (8 digits)" required />
					</div>
					<button formaction="{% url 'bank_app:create_customer' %}" class="btn">Create customer</button>
				</form>
			</section>

			<section id="cust_list">
				<h3>Customer list</h3>
				<p>Number of customers: {{ customer_count }}</p>

				<table>
					<tr>
						<th></th>
						<th>User Name</th>
						<th>Phone</th>
						<th>Ranking</th>
						<th></th>
					</tr>
				{% for c in customers %}
				<tr {% if forloop.counter|divisibleby:2 %}
                        class="white_bg"
                    {% endif %}	>	
						<form method="post">
							{% csrf_token %}
								<input type="hidden" name="pk" value="{{ c.pk }}" />
								<td>{{ forloop.counter }}</td>
								<td>{{ c.user.username }}</td>
								<td>{{ c.phone }}</td>
								<td>
									<select name="ranking">
										{% for r in rankings %}
											{% if r.rType == c.ranking.rType %}											
												<option value="{{ r.pk }}" selected>{{ r.rType }}</option>
											{% else %}
											<option value="{{ r.pk }}">{{ r.rType }}</option>
											{% endif %}
										{% endfor %}
									</select>
									<button formaction="{% url 'bank_app:update_ranking' %}" class="simple_btn">Update</button>
								</td>
								<td><button formaction="{% url 'bank_app:accounts' %}" class="btn">Manage accounts</button></td>
								<td>
									<button formaction="{% url 'bank_app:del_customer' %}" class="icon_btn del_btn">
										<i class="fa-solid fa-trash"></i>
									</button>
								</td>
						</form>
					</tr>
				{% endfor %}
				</table>
			</section>
		</main>
		{% else %}

		<main class="main">
			<section id="transfer_section">
				<h3>Transfer between accounts</h3>
				<form method="post">
					{% csrf_token %}

					<div class="form_item_wrapper">
						<label>From account</label>
						<select name="from_account">
							<option disabled selected value> -- select an option -- </option>
							{% for a in customer_accounts %}									
								<option value="{{ a.pk }}">{{ a.accountNumber }}</option>
							{% endfor %}
						</select>
					</div>

					<div class="form_item_wrapper">
						<label>To account</label>
						<input type="text" name="to_account" placeholder="Recipient's account number" />
					</div>
					<div class="form_item_wrapper">
						<label>Amount</label>
						<input type="number" name="amount" placeholder="Amount to transfer">
					</div>
					<div class="form_item_wrapper">
						<label>Description</label>
						<input type="text" name="description" placeholder="Text for transaction" />
					</div>
					<div id="automatic_payment_wrapper" class="form_item_wrapper">
						<label>Set as automatic payment</label>
						<input type="checkbox" id="aut_payment_check" name="payment_check" onclick="showAutomaticPayment()" />
					</div>
					<div id="automatic_payment_details">
						<div class="form_item_wrapper">
							<label>Repeat every</label>
							<input type="number" name="repeat_every" value="1" min="1" max="59" />
							<select name="repeat_time_unit">	
								<!-- <option disabled selected value> -- select an option -- </option>						 -->
								<option value="minute" selected>Minute</option>
								<option value="hour">Hour</option>
							</select>
						</div>
						<div class="form_item_wrapper">
							<label>How many times you wish to repeat the payment?</label>
							<input type="number" name="repeat_number" value="1" min="1" />
						</div>
					</div>
					<button formaction="{% url 'bank_app:set_transaction' %}" class="btn">Transfer Money</button>
				</form>
			</section>

			<section id="account_overview">
				<h3>{{ request.user.username }}'s accounts overview</h3>
				<table>
					<tr>
						<th></th>
						<th>Account Number</th>
						<th>Balance</th>
						<th>Loan</th>
					</tr>

					{% for a in customer_accounts %}
					<tr {% if forloop.counter|divisibleby:2 %}
                        class="white_bg"
                    {% endif %}	>	
					
						<form method="post">
							{% csrf_token %}
								<input type="hidden" name="pk" value="{{ a.pk }}" />
								<td>{{ forloop.counter }}</td>
								<td>{{ a.accountNumber }}</td>
								<td>
									{% for b in balances %}
										{% if b.0 == a.pk %}
											{{ b.1 }}
										{% endif %}
									{% endfor %}
								</td>
								<td>
									{% if active_customer.ranking.loan == True %}
										<input type="number" name="loan_amount" placeholder="Amount to loan" />
										<button formaction="{% url 'bank_app:request_loan' %}" class="simple_btn">
											Request
										</button>
									{% else %}
										<p>Not available</p>
									{% endif %}
								</td>
								<td>
									<button formaction="{% url 'bank_app:show_movements' %}" class="btn">Show movements</button>
								</td>
						</form>
					</tr>
					{% endfor %}
				</table>
			</section>

			<section id="loans_overview">
                <h3>{{ request.user.username }}'s loans overview</h3>
                <table>
                    <tr>
                        <th></th>
                        <th>Bank Account</th>
                        <th>Loan Amount</th>
                        <th>Amount to Pay</th>
                        <th>Make a Payment</th>
                    </tr>
 
                    {% for l in loans %}
                    <tr {% if forloop.counter|divisibleby:2 %}
                        class="white_bg"
                    {% endif %}	>
                   
                        <form method="post">
                            {% csrf_token %}
                                <input type="hidden" name="pk" value="{{ l.pk }}" />
								<input type="hidden" name="account" value="{{ l.account }}" />
								<input type="hidden" name="remaining_amount" value="{{ l.remainingAmount }}" />
								<!-- <input type="hidden" name="cpk" value="{{ c.pk }}"> -->
                                <td>{{ forloop.counter }}</td>
                                <td>{{ l.account }}</td>
                                <td>{{ l.loanAmount }}</td>
                                <td>{{ l.remainingAmount }}</td>
								<!-- nefunguje -->
								{% if l.confirmed == 'true' %}
									{% if l.remainingAmount == 0 %}
										<td>Completed</td>
									{% else %}
										<td>
											<div class="form_item_wrapper">
												<input type="number" name="loan_transfer" placeholder="Amount to transfer" />
											</div>
											<div class="form_item_wrapper">
												<button formaction="{% url 'bank_app:pay_loan' %}" class="btn">
													Pay
												</button>
											</div>
										</td>
									{% endif %}
								{% elif l.confirmed == 'false'%}
									<td>Loan declined</td>
								{% else %}
									<td>Confirmation pending</td>
								{% endif %}
                        </form>
					</tr>
					{% endfor %}
				</table>
			</section>

			<section id="cards_overview">
				<h3>{{ request.user.username }}'s credit cards overview</h3>
				<table>
					<tr>
						<th></th>
						<th>Account</th>
						<th>Card Number</th>
						<th>Balance</th>
						<th>Expiry Date</th>
						<th>Debt</th>
						<th>Pay</th>
						<th>Repay</th>
						<th></th>
					</tr>
	
					{% for c in cards %}
					<tr {% if forloop.counter|divisibleby:2 %}
							class="white_bg"
						{% endif %}	>
					
						<form method="post">
							{% csrf_token %}
								<input type="hidden" name="pk" value="{{ c.pk }}" />
								<input type="hidden" name="card_number" value="{{ c.cardNumber }}" />
								<input type="hidden" name="spent_amount" value="{{ c.spentAmount }}" />
								<input type="hidden" name="balance" value="{{ c.initialBalance }}" />
								<td>{{ forloop.counter }}</td>
								<td>{{ c.account }}</td>
								<td>{{ c.cardNumber }}</td>
								<td>{{ c.initialBalance }}</td>
								<td>{{ c.expiryDate }}</td>
								<td>
									{% for b in card_repay_balances %}
										{% if b.0 == c.pk %}
											{{ b.1 }}
										{% endif %}
									{% endfor %}
								</td>
								<td>
									<div class="form_item_wrapper">
										<label>To account</label>
										<select name="to_account">
											<option disabled selected value> -- select an option -- </option>
											{% for a in customer_accounts %}									
												<option value="{{ a.pk }}">{{ a.accountNumber }}</option>
											{% endfor %}
										</select>
									</div>
									<div class="form_item_wrapper">
										<input type="number" name="card_pay" placeholder="Amount to pay" />
									</div>
									<div class="form_item_wrapper">
										<input type="text" name="card_desc" placeholder="Text for payment" />
									</div>
									<div class="form_item_wrapper">
										<button formaction="{% url 'bank_app:pay_card' %}" class="btn">
											Pay
										</button>
									</div>
								</td>
								{% if c.spentAmount != 0 %}
									<td>
										<div class="form_item_wrapper">
											<label>From account</label>
											<select name="from_account">
												<option disabled selected value> -- select an option -- </option>
												{% for a in customer_accounts %}									
													<option value="{{ a.pk }}">{{ a.accountNumber }}</option>
												{% endfor %}
											</select>
										</div>
										<div class="form_item_wrapper">
											<input type="number" name="card_repay" placeholder="Amount to repay" />
										</div>
										<div class="form_item_wrapper">
											<button formaction="{% url 'bank_app:repay_card' %}" class="btn">
												Repay
											</button>
										</div>
									</td>
								{% else %}
									<td></td>
								{% endif %}
								<td>
									<button formaction="{% url 'bank_app:show_card_movements' %}" class="btn">Show credit card movements</button>
								</td>
						</form>
					</tr>
					{% endfor %}
				</table>
			</section>
		</main>
		{% endif%}

	{% else %}

		<h2>Please log in</h2>

	{% endif %}

	<script src="{% static 'script/script.js' %}"></script>

	</body>
</html>
