{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Bank app" />
	<meta name="keywords" content="bank, money, transaction, payment, loan" />
	<script src="https://kit.fontawesome.com/b08a3acf90.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />

	<title>Bank</title>
	</head>

	<header class="login_header">
		<h1>Bank app</h1>
		<section class="login_section">
			<form method='post'>
				<h2>Log in</h2>
				{% csrf_token %}
				{% if verified == 0 and usertype == "CUSTOMER" %}
					<div class="form_item_wrapper">
						<p>We've sent a verification code to your number</p>
						<label>SMS code</label>
						<input type="number" name="code" placeholder="Type your SMS code" />
						<input type="hidden" name="codepk" value="{{ code.pk }}" />
					</div>
					<button formaction="{% url 'login_app:login_verify' %}" class="btn">Login</button>
				{% elif verified == 0 and usertype == "BANKER" %}
					<div class="form_item_wrapper">
						<p>Scan the QR code</p>
						<img id='qrcode' src="{% static 'media/qr.png' %}" alt="qrcode" />
						<label>Secret code</label>
						<input type="number" name="code" placeholder="Type your secret code here" />
						<input type="hidden" name="codepk" value="{{ code.pk }}" />
					</div>
					<button formaction="{% url 'login_app:login_verify' %}" class="btn">Login</button>
				{% else %}
					<div class="form_item_wrapper">
						<label>User Name</label>
						<input type="text" name="name" placeholder="Type your user name" />
					</div>
					<div class="form_item_wrapper">
						<label>Password</label>
						<input type="password" name="password" placeholder="Type your password" />
					</div>
					<button formaction="{% url 'login_app:login' %}" class="btn">Login</button>
				{% endif %}
			</form>
		</section>
	</header>

	{% if error %}
		<div class="modal" id="modal_error">
			<div class="modal_bg">
				<div id="error_content">

					<button id="close" onclick="closeModal('error')">&times;</button>
					
					<p>{{ error }}</p>
												
				</div>
			</div>
		</div> 
	{% endif %}

	<script src="{% static 'script/script.js' %}"></script>

	</body>
</html>
